<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Unalived</title> 
</head>

<body style="background-color: bisque;">
	<h1>Removal of all data related to the person</h1>
    All information has been wiped from the database. You won't be seeing this person around anymore. <br>
    Number of orders this person had: <%-number%>
    <br>

    <a href="/">HOME</a>

    <hr>

    <div style="text-align: center;">Oober <strong>Eats</strong> &reg;</div>

    <hr>

</body>

</html>