<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Previous Orders</title>
</head>

<body style="background-color: bisque;">
	<h1>Previous Orders</h1>
    <form action="pastOrdersData" method="post">
        <fieldset>
            <strong>Email Address: </strong><input type="email" name="email" style="width: 20rem">
            <br> <br>
            <input type="reset">
            <input type="submit" value="Submit Request">
        </fieldset>
        <br>
    </form>


    <a href="/">HOME</a>

    <hr>

    <div style="text-align: center;">Oober <strong>Eats</strong> &reg;</div>

    <hr>

</body>

</html>