<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Oober Eats</title> 

</head>

<body style="background-color: bisque;">

    <h1>Menu</h1>

    <fieldset>

    <form action="order" method="post">

        <fieldset>
            <legend>Breakfast</legend>

            <strong>Main Dish:</strong>
            <select name="breakfast">
                <option>Pancakes</option>
                <option>Waffles</option>
                <option>Eggs</option>
                <option>Oatmeal</option>
                <option>Bagel</option>
            </select>

            <br> <br>

            <strong>Drinks:</strong>
            Water <input type="number" value="0" name="breakfastWater" min="0">
            Soda <input type="number" value="0" name="breakfastSoda" min='0'>
            Milk <input type="number" value="0" name="breakfastMilk" min="0">
            Tea <input type="number" value="0" name="breakfastTea" min="0">
            Juice <input type="number" value="0" name="breakfastJuice" min="0">

            <br> <br>

            <strong>Sides:</strong>
            Yogurt <input type="checkbox"  name="breakfastYogurt" min="0">
            French Fries <input type="checkbox" name="breakfastFries" min="0">
            Coder's Tears <input type="checkbox"  name="breakfastTears" min="0">
            Mixed Fruit <input type="checkbox"  name="breakfastFruit" min="0">
            Steamed Veggies <input type="checkbox" name="breakfastVeggies" min="0">
        </fieldset>

        <fieldset>
            <legend>Lunch</legend>
            <strong>Main Dish:</strong>
            <select name="lunch">
                <option>Buffalo Chicken Wrap</option>
                <option>Black Bean Burrito</option>
                <option>Avacado Egg Salad Sandwich</option>
                <option>Chicken Taco Salad</option>
                <option>Fried Rice with Pork</option>
            </select>

            <br> <br>

            <strong>Drinks:</strong>
            Water <input type="number" value="0" name="lunchWater" min="0">
            Soda <input type="number" value="0" name="lunchSoda" min='0'>
            Milk <input type="number" value="0" name="lunchMilk" min="0">
            Tea <input type="number" value="0" name="lunchTea" min="0">
            Juice <input type="number" value="0" name="lunchJuice" min="0">

            <br> <br>

            <strong>Sides:</strong>
            Potato Wedges <input type="checkbox"  name="lunchWedges" min="0">
            French Fries <input type="checkbox"  name="lunchFries" min="0">
            Mashed Potatoes <input type="checkbox"  name="lunchPotatoes" min="0">
            Mixed Fruit <input type="checkbox"  name="lunchFruit" min="0">
            Steamed Veggies <input type="checkbox"  name="lunchVeggies" min="0">

        </fieldset>

        <fieldset>
            <legend>Dinner</legend>
            <strong>Main Dish:</strong>
            <select name="dinner">
                <option>Steak</option>
                <option>Fried Rice</option>
                <option>Chicken Alfredo</option>
                <option>Pizza</option>
                <option>Shepherd's Pie</option>
            </select>

            <br> <br>

            <strong>Drinks:</strong>
            Water <input type="number" value="0" name="dinnerWater" min="0">
            Soda <input type="number" value="0" name="dinnerSoda" min='0'>
            Milk <input type="number" value="0" name="dinnerMilk" min="0">
            Tea <input type="number" value="0" name="dinnerTea" min="0">
            Juice <input type="number" value="0" name="dinnerJuice" min="0">

            <br> <br>

            <strong>Sides:</strong>
            Potato Wedges <input type="checkbox" name="dinnerWedges" min="0">
            French Fries <input type="checkbox"  name="dinnerFries" min="0">
            Mashed Potatoes <input type="checkbox"  name="dinnerPotatoes" min="0">
            Mixed Fruit <input type="checkbox" name="dinnerFruit" min="0">
            Steamed Veggies <input type="checkbox"  name="dinnerVeggies" min="0">
        </fieldset>

        <fieldset>
            <legend><strong>Information</strong></legend>
            Name: <input type="text" name="name">
            Email: <input type="email" name="email">
            Address: <input type="text" name="address">
        </fieldset>

        <fieldset>
            <legend>Comments</legend>
            <textarea rows="5" cols="40" placeholder="If you have anything specific you would like, say it here."></textarea>
        </fieldset>

        <br>

        <input type="reset">
        <input type="submit" value="Submit">
    </fieldset>

    </form>
    
    <br>

    <a href="/">HOME</a>

    <hr>
    <div style="text-align: center;">Oober <strong>Eats</strong> &reg;</div>
    <hr>

</body>

</html>
