<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Order 66</title> 

</head>

<body style="background-color: bisque;">
	<h1>Removal of All Data</h1>
    <div style="color:red">
    All information has been wiped from the database. The company has been burned to the ground. <br>
    Number of orders removed: <%-number%>
    </div>
    <br>

    <a href="/">HOME</a>

    <hr>

    <div style="text-align: center;"> <strong>Free at Last</strong> &reg;</div>

    <hr>

</body>

</html>